/* ==========================================================================
   Блок UTP баннера
   ========================================================================== */

.utp-banner {
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.utp-banner__inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 0; /* Убирает пробелы под изображением */
}

.utp-banner__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; /* Заполняет весь контейнер */
    object-position: center;
}